### Prep

In [1]:
# set working directory
import os
path = '/Users/kgedney/Documents/georgetown/anly503/exam/'
os.chdir(path)

In [2]:
import plotly
plotly.tools.set_credentials_file(username='kg729', api_key='')

In [3]:
import pandas as pd
import numpy as np
import plotly.plotly as py

In [40]:
# load data
df = pd.read_csv('voter_turnout_demos.csv')

In [41]:
# limit to just US
df = df[df.state == 'US']
df = df.iloc[0:8]
df

In [42]:
df.demo = df.demo.str.split(' a').str[0]
df.demo = df.demo.str.split('(').str[0]

,state,demo,total_pop,total_citizen_pop,total_registered,pct_registered,pct_citizen_regisered,total_vted,pct_voted,pct_citizen_voted
0,US,Total,245502.0,224059.0,157596,64.2,70.3,137537,56,61.4
1,US,Male,118488.0,107554.0,73761,62.3,68.6,63801,53.8,59.3
2,US,Female,127013.0,116505.0,83835,66,72,73735,58.1,63.3
3,US,White alone,192129.0,177865.0,127463,66.3,71.7,111891,58.2,62.9
4,US,White non-Hispanic alone,157395.0,154450.0,114151,72.5,73.9,100849,64.1,65.3
5,US,Black alone,30608.0,28808.0,19984,65.3,69.4,17119,55.9,59.4
6,US,Asian alone,14881.0,10283.0,5785,38.9,56.3,5043,33.9,49
7,US,Hispanic (of any race),38990.0,26662.0,15267,39.2,57.3,12682,32.5,47.6

In [62]:
import matplotlib
from matplotlib import cm

viridis_cmap = matplotlib.cm.get_cmap('viridis')

(0.277018, 0.050344, 0.375715, 1.0)

In [49]:
import plotly
plotly.offline.init_notebook_mode()

# import plotly.plotly as py
from plotly.offline import plot, iplot
import plotly.graph_objs as go

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

In [87]:
demos_total    = list(df['demo'])[0]
demos_gender   = list(df['demo'])[1:3]
demos_race_eth = list(df['demo'])[3:]

In [110]:
trace1 = go.Bar(x = demos_total,
                y = int(df.pct_voted[0]),
                name = 'Total',
                marker = dict(color = '#17202A'),
                orientation='v')

trace2 = go.Bar(x = demos_gender,
                y = df.pct_voted[1:3],
                name = 'Gender',
                marker = dict(color = ['#481567', '#404788'],
                              line=dict(color='#17202A)',width=1)),
                orientation='v')

trace3 = go.Bar(x = demos_race_eth,
                y = df.pct_voted[3:],
                name = 'Race-Ethnicity',
                marker = dict(color = ['#1F968B', '#29AF7F', '#3CBB75', '#73D055', '#B8DE29'],
                             line=dict(color='#17202A)',width=1)),
                orientation='v')

data = [trace1, trace2, trace3]

layout = go.Layout(
    barmode = 'group',
    title   = 'Voter Turnout by Demo',
    xaxis   = dict(title='% Voted'),
    yaxis   = dict(title='Demographic', tickangle=35,
                  tickfont=dict(size=8)),
    showlegend=False)
    

fig = go.Figure(data=data, layout=layout)

plot(fig)
plot(fig, filename='/Users/kgedney/Documents/georgetown/anly503/exam/webpage/images/plotly_bar.html')

'file:///Users/kgedney/Documents/georgetown/anly503/exam/webpage/images/plotly_bar.html'